<template>
  <div class="container">
  <form  @submit.prevent="login" autocomplete="off">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" v-model="post.username" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" v-model="post.password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
 
Vue.use(VueAxios, axios)

export default {
  name: 'Login',
  data () {
    return {
      post :{
        username : '',
        password: '',
      }
      
    }
  },
  methods: {
    login () {
       this.axios.post('https://reqres.in/api/login',this.post).then(()=>{
           this.$router.push('/users');
        })
    }
  }
}
</script>

