<template>
  <div>
    <p><b>Note:</b> Only selected user can be register: <br>
    username : eve.holt@reqres.in <br>
    password : pistol</p>
    <form  @submit.prevent="register" autocomplete="off">
      <h3>Sign Up</h3>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="name" v-model="post.name" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
      <div class="form-group">
        <label for="username">User name:</label>
        <input type="email" v-model="post.username" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" v-model="post.password" class="form-control" id="pwd" placeholder="Enter password" name="password">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
 
Vue.use(VueAxios, axios)

export default {
  name: 'Register',
  data () {
    return {
      post :{
        name : null,
        username : null,
        password: null,
      }
      
    }
  },
  methods: {
    register () {
       this.axios.post('https://reqres.in/api/register', this.post).then((result)=>{
        this.$router.push('/login');
        console.warn('result', result);
       });
    }
  }
}
</script>
<style>
  p {
    color: red;
  }
</style>
