<template>
<div>
  <h3>{{heading}}</h3>
    <router-link to="/"><p class="text-right">Logout</p></router-link>
  <div>
   <div>
    <form v-on:submit.prevent="addUser()">
      <label> Name : </label>
      <input type="text" v-model="userData.name">
      <label> Department : </label>
      <input type="text" v-model="userData.department"> &nbsp;
      <button class="button3"> Submit </button>
    </form>
    </div>
    </div>
    <br>
    <div v-if="Array.isArray(userData) && userData.length">
        <table>
         <tr v-for="(data,index) in userData" :key="index">
          <td>{{index}}</td>
          <td>{{data.name}}</td>
          <td>{{data.department}}</td>
         </tr>
        </table>
  </div>
  
</div>
</template>
<script>
export default {
 name: 'Users',
  data() {
    return {
      heading : "User's Details",
      userData : [
            {name: 'Admin', department: 'Admin'},
            {name: 'Ram', department: 'User'},
            {name: 'Amit', department: 'Management'}
          ],
    }
  },
  methods: {
    addUser:  function() {
            this.userData.push({
              name: this.userData.name,
              department: this.userData.department
            }
          );
        }
      }
    }
</script>
<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #42b983;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.button1 {background-color: #FF0000;} /* red */ 

.button2 {
  background-color: #008CBA;
  text-align: right;
  } /* Blue */
.button3 {background-color: #4CAF50;} /* Green */ 
</style>
